nav{
    position: fixed;
    top: 0;
    bottom:0;
    background-color: var(--main-color);
    width: 15em;
    left: -10em;
    flex-direction: column;
    transition: left 0.6s;
    z-index: 6;
}

nav:hover{
    left:0;
}

nav .icone img{
    display: block;
    width: 4em;
    height: 4em;
    padding: 1.25em;
    margin-left: 0.5em;
}

nav .icone{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

